body {
  font-family: Sono, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: calc(1rem + 3vw);
}

.container {
  width: 300px;
  margin: 0 auto;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

label > div + a {
  display: block;
  
}

a.header__link {
  font-size: calc(1rem + 1vw);
  text-decoration: none;
  margin: 20px 0 20px 0
}

a.header__link:visited {
  color: black;
}

.content__img {
  display: block;
  width: 0;
  max-width: 1000px;
  margin: auto;
  transition: width 1s;
}

.content__plus {
  text-align: center;
  max-width: 16px;
  max-height: 16px;
  transition: rotate 1s ease-in-out;
}

label:hover > div > a + a > img {
  rotate: 45deg;
}

label:hover > a > img {
  width: 100%;
  
}

label > input:checked + div + a > img {
  width: 100%;
}


label > input {
  visibility: hidden;
  position: absolute;
}

@media (min-width: 320px) {
  .container {
    width: 300px
  }

  .content__img {
    max-width: 200px;
  }
}

@media (min-width: 820px) {
  .container {
    width: 600px
  }

  .content__img {
    max-width: 400px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 900px
  }

  .content__img {
    max-width: 600px;
  }
}

