body {
  font-family: Sono, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-size: calc(1em + 4vw);
}

.container {
  width: 300px;
  margin: 0 auto;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

a.header__link {
  font-size: calc(1em + 1vw);
  text-decoration: none;
  margin: 20px 0 20px 0

}

a.header__link:visited {
  color: black;
}

label:hover > a > img {
  display: block;
}

.content__img {
  display: none;
  max-width: 200px;
  margin: auto;
  padding-bottom: 40px;
}

.content__plus {
  text-align: center;
  max-width: 16px;
  max-height: 16px;
}

label > input {
  visibility: hidden;
  position: absolute;
}

label > input:checked + div + a > img {
  display: block;

}

@media (min-width: 820px) {
  .container {
    width: 800px
  }

  .content__img {
    max-width: 400px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1900px
  }

  .content__img {
    max-width: 800px;
  }
}

